@use '../util/' as *;

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: rem(400);
  color: var(--text-color2);
  .day,
  .hour,
  .minute,
  .second {
    font-size: rem(25);
    text-align: center;
    font-weight: 200;
    color: var(--text-color2);
  }
}
